.c-green{
    span{
    padding: 5px;
    border: 1px solid green;
    color: #fff;
    background: #20cb20;
    border-radius: 50px;
}
}



.c-yellow{
    span{
    padding: 5px;
    border: 1px solid yellow;
    color: #000;
    background: yellow;
    border-radius: 50px;
    }
}
  


.c-red{
    span{
    padding: 5px;
    border: 1px solid red;
    color: #fff;
    background: #ff5d5d;
    border-radius: 50px;

    }
}
